<template>
    <form method="POST" id="form-user">
        <div class="form-group row">
            <label for="prefixname" class="col-md-4 col-form-label text-md-right">Prefix Name</label>
            <div class="col-md-6">
                <select id="prefixname" class="form-control" name="prefixname" v-model="current.prefixname">
                    <option value="mr">Mr.</option>
                    <option value="ms">Ms.</option>
                    <option value="mrs">Mrs.</option>
                </select>
                <template v-if="errors.prefixname">   
                    <small class="form-text text-danger">{{ errors.prefixname[0] }}</small>
                </template> 
            </div>
        </div>

        <div class="form-group row">
            <label for="firstname" class="col-md-4 col-form-label text-md-right">First Name</label>

            <div class="col-md-6">
                <input id="firstname" type="text" class="form-control" name="firstname" required autocomplete="firstname" autofocus  v-model="current.firstname">
                <template v-if="errors.firstname">   
                    <small class="form-text text-danger">{{ errors.firstname[0] }}</small>
                </template> 
            </div>
            
        </div>

        <div class="form-group row">
            <label for="middlename" class="col-md-4 col-form-label text-md-right">Middle Name</label>

            <div class="col-md-6">
                <input id="middlename" type="text" class="form-control" name="middlename" required autocomplete="middlename" autofocus v-model="current.middlename">
                <template v-if="errors.middlename">   
                    <small class="form-text text-danger">{{ errors.middlename[0] }}</small>
                </template> 
            </div>
        </div>

        <div class="form-group row">
            <label for="lastname" class="col-md-4 col-form-label text-md-right">Last Name</label>

            <div class="col-md-6">
                <input id="lastname" type="text" class="form-control" name="lastname" required autocomplete="lastname" autofocus v-model="current.lastname">
                <template v-if="errors.lastname">   
                    <small class="form-text text-danger">{{ errors.lastname[0] }}</small>
                </template> 
            </div>
        </div>

        <div class="form-group row">
            <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>

            <div class="col-md-6">
                <input id="username" type="text" class="form-control" name="username" required autocomplete="username" autofocus v-model="current.username">
                <template v-if="errors.username">   
                    <small class="form-text text-danger">{{ errors.username[0] }}</small>
                </template> 
            </div>
        </div>


        <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

            <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="email" required autocomplete="email" v-model="current.email">
                <template v-if="errors.email">   
                    <small class="form-text text-danger">{{ errors.email[0] }}</small>
                </template>
            </div>
        </div>

        <div class="form-group row">
            <label for="photo" class="col-md-4 col-form-label text-md-right">Photo</label>
            <div class="col-md-6">
                <input id="photo" type="file" name="photo" @change="onFileChange" required autocomplete="photo">
                <br>
                <br>
                <img :src="current.avatar" alt="" height="100">
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

            <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" required autocomplete="new-password" v-model="current.password">
                <template v-if="errors.password">   
                    <small class="form-text text-danger">{{ errors.password[0] }}</small>
                </template>
            </div>
        </div>

        <div class="form-group row">
            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

            <div class="col-md-6">
                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password" v-model="current.password_confirmation">
            </div>
        </div>
        
        <div v-if="!viewing" class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <button v-if="! user" type="submit" class="btn btn-primary" @click="saveUser">
                    Save
                </button>
                <button v-else type="submit" class="btn btn-primary" @click="updateUser">
                    Update
                </button>
            </div>
        </div>
        <div v-else class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <a href="/users" class="btn btn-primary">
                    Back
                </a>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props : ['user','avatar','viewing'],
        data: function () {
            return {
                current : {
                    prefixname:"mr",
                    firstname:"",
                    lastname:"",
                    middlename:"",
                    suffixname:"",
                    username:"",
                    email:"",
                    password:"",
                    password_confirmation:"",
                    photo:"",
                    type:"",
                    avatar:this.avatar,
                },
                errors : {},
            }
        },
        mounted() {
            if(this.user) {
                this.$set(this.current,'prefixname',this.user.prefixname);
                this.$set(this.current,'firstname',this.user.firstname);
                this.$set(this.current,'lastname',this.user.lastname);
                this.$set(this.current,'middlename',this.user.middlename);
                this.$set(this.current,'suffixname',this.user.suffixname);
                this.$set(this.current,'username',this.user.username);
                this.$set(this.current,'email',this.user.email);
            }
            if(this.viewing) {
                let form = document.getElementById("form-user");
                let elements = form.elements;
                for (let i = 0, len = elements.length; i < len; ++i) {
                    elements[i].disabled = true;
                }
            }
        },
        methods: {
            saveUser(event) {
                event.preventDefault();
                let self = this;
                let formData = new FormData();
                formData.append('photo', this.current.photo);
                formData.append('user_details', JSON.stringify(this.current));
                axios.post('/users',formData,{
                    headers: {
                    'Content-Type': 'multipart/form-data'
                    }
                })
                .then(res => {
                    alert(res.data.message);
                    window.location.href = '/users';
                }).catch(err => {
                    self.$set(self,'errors',err.response.data.errors)
                })
            },

            updateUser(event) {
                event.preventDefault();
                let self = this;
                let formData = new FormData();
                formData.append('photo', this.current.photo);
                formData.append('user_details', JSON.stringify(this.current));
                formData.append('_method','PUT');
                axios.post(`/users/${this.user.id}`,formData,{
                    headers: {
                    'Content-Type': 'multipart/form-data'
                    }
                })
                .then(res => {
                    alert(res.data.message);
                    window.location.href = '/users';
                }).catch(err => {
                    self.$set(self,'errors',err.response.data.errors)
                })
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length) {
                    this.$set(this.current,'photo','');
                }
                this.$set(this.current,'photo',files[0]);
                this.$set(this.current,'avatar',URL.createObjectURL(files[0]));
            },
        }
    }
</script>
